<h1 class="title">Dashboard</h1>

<p>
    Bienvenue sur votre espace de gestion !
</p>

<hr>
<section id="admin-panel">

    <div class="widget">
        <h2 class="title"><i class="icon fas fa-users"></i><span>Utilisateurs</span></h2>
        <a href="/dashboard/manage-users">
            <button class="btn is-clickable">Manager utilisateur</button>
        </a>
    </div>

      <h2 class="title">Manager les offres</h2>

    <div class="widget">
        <h2 class="title"><i class="icon fas fa-store"></i><span>Offres emploi</span></h2>
        <a href="/dashboard/manage-offre">
            <button class="btn is-clickable">Manager offres emploi</button>
        </a>
        <a href="/dashboard/create-offre">
            <button class="btn  is-clickable">Ajouter offre emploi</button>
        </a>
    </div>
</section>