<section id="parcours-candidat">
    <article class="img-parcours"><img src="/img/image-candidat.svg" alt=""></article>
    <article class="parcours">
        <div  class="container-etape un">
            <div class="numero-parcours">1</div>
            <h3> Choisissez un métier</h3>
        </div>


        <div class="container-etape un">
            <div class="numero-parcours">2</div>
            <h3>Secteur d'activités favoris</h3>
        </div>

        <div class="container-etape un ">
            <div class="numero-parcours">3</div>
            <h3>Vos soft skills</h3>
        </div>


        <div class="container-etape un">
            <div class="numero-parcours">4</div>
            <h3>Séléctionnez vos langages de programmation</h3>
        </div>
{{!-- <img src="/img/image_parcours.png" alt="numero parcours" class="numero-parcours"> --}}
    </article>
</section>
<section id="btn-parcour"><button class="btn-parcours"> <a href="/signup">Candidatez !</a> </button></section>
