    <h1 class="tilte">Entreprise</h1>
<section class="explication-entreprise">
       <figure id="parcour-entreprise"><img src="/img/dev_productivity.svg" alt=""></figure>

    <article class="ca-marche">
        <h2>Comment ça marche ?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus dolorem rem placeat maxime non quos nisi facere repellendus dolor provident, ex quaerat labore doloribus libero odio debitis, perspiciatis officia! Earum.</p>
    </article>
 
</section>

<div class="parcours-entreprise">
<a href="/signup-entreprise"><button class="btn-parcours-entreprise">S'inscrire</button></a>
</div>