<div class="signin-background">




    <form method="post" action="/signin" class="form connexion">
        <h1 class="title">Connexion Candidat</h1>

        <label class="label" for="input-email"></label>

        <input class="input input-connection" type="email" name="email" placeholder="Email" required>

        <label class="label" for="input-password"></label>

        <input id="input-password" class="input input-connection" type="password" name="password"
            placeholder="Mot de passe" required>
        <span id="icon-toggle">
            <i class="is-clickable fas fa-eye"></i>
        </span>

        <button class="btn">ok</button>


        <div class="trait">
            <hr>&nbsp; &nbsp;se connecter avec&nbsp; &nbsp;
            <hr>
        </div>
        <div class="trait-responsive">
            <hr>&nbsp; &nbsp; Connexion avec &nbsp; &nbsp;
            <hr>
        </div>

        <div class="authentification-rs">
            <a class="linkedin-btn" href="/auth/linkedin"><img class="linkedin-img" src="/img/linkedin.jpeg"
                    alt="linkedin">
                <span class="text-hidden">Linkedin</span></a>
        </div>
    </form>
</div>