<div class="signin-background">
     <form action="/signinEntreprise" method="post" enctype="multipart/form-data" class="form connexion">
        <h1 class="title">Connexion Entreprise</h1>


        <label class="label" for="input-email"></label>
        <input id="input-email" class="input" type="email" required placeholder=" Email" name="email">     

        <label class="label" for="input-password"></label>
        <input id="input-password" class="input" type="password" required placeholder="Mot de passe"
          name="password">
     <span id="icon-toggle" >
            <i class="is-clickable fas fa-eye"></i>
    </span>
        <button class="btn">Se connecter</button>


<div class="trait"><hr>&nbsp; &nbsp;se connecter avec&nbsp; &nbsp;   <hr></div>
<div class="trait-responsive">&nbsp; &nbsp;connexion avec &nbsp; &nbsp;  </div>

        <div class="authentification-rs">
 <a class="google-btn" href="/auth/google"><img class="google-img" src="/img/google.png" alt="google"> <span class="text-hidden">Google</span> </a>

<a class="linkedin-btn" href="/auth/linkedin"><img class="linkedin-img" src="/img/linkedin.jpeg" alt="linkedin">  <span class="text-hidden">Linkedin</span></a></div>

      </form>
    </div>  