main.signup-main {
  padding: 150px 0;
}

/* inscription sur meme page  */

.contenu {
  display: none;
}

.contenu.active {
  display: block;
  background: var(--color-white);
  color: var(--color-white);
  padding: 20px;
  width: 1000px;
}

.menu .active a {
  color: var(--color-white);
  background: var(--color-1);
}

.menu a {
  display: inline-block;
  color: var(--color-black);
  padding: 10px 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}

ul.menu li {
  float: left;
  display: block;
}

ul.menu {
  clear: both;
  display: table;
  width: 300px;
  margin: auto;
}

.plusieurs-contenus {
  position: relative;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0.8);
  width: 1000px;
  margin: auto;
}

/* fin navbar signup */

/* .contenu.active {
     display: block;
     padding: 20px;

 } */

.form .authentification {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin: 2% 0;
}

.form .authentification span {
  padding: 30px;
}

.form .authentification a.linkedin-btn,
.form .authentification a.google-btn {
  width: 30%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: var(--color-white);
  line-height: 40px;
  font-weight: 600;
  border-radius: 10px;
  margin: 4px;
}

.form .authentification a.linkedin-btn {
  background: var(--color-bleu-linkedin);
}

.form .authentification a.google-btn {
  background: var(--color-red-google);
  /* border: 1px solid var(--color-1) ; */
}

.menu .active a {
  background: var(--color-white);
  color: var(--color-1);
  width: 100%;
}

.menu li a {
  display: inline-block;
  color: var(--color-white);
  width: 100%;
  padding: 10px 15px;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, .8); */
  text-align: center;
}

.menu li.active {
  width: 50%;
}

ul.menu li {
  float: left;
  /* width: 50%; */
  display: block;
  background: var(--color-1);
  width: 50%;
}

ul.menu {
  clear: both;
  /*    neutralise les float */
  display: table;
  width: 60%;
  margin: 50px auto 0;
  display: flex;
  flex-direction: row;
}

/* .plusieurs-contenus {
     position: relative;
     padding: 20px;
     box-shadow: 0 1px 3px rgba(0, 0, 0.8);
     width: 60%;
     margin: auto;
     background: white;
 } */

a {
  text-decoration: none;
}

/* formulaire */

.form {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.label,
.check,
.multiselect {
  text-align: left;
  width: 70%;
  font-family: "Montserrat", sans-serif;
  margin: 10px;
}

.input,
.select {
  width: 70%;
  height: 30px;
  /* border: 1px solid var(--color-1);
     border-radius: 5px; */
  border: none;
  border-bottom: 1px solid var(--color-1);
  padding: 0.5%;
  font-size: 18px;
  background: none;
}

select {
  font-size: 18px;
  color: (--color-grey);
}

input#input-cv {
  border: none;
  /* width: 70px; */
}

.check .checkbox {
  margin-left: 30px;
}

.check {
  margin-top: 20px;
}

.btn {
  width: 150px;
  height: 35px;
  border: none;
  background: var(--color-1);
  border-radius: 5px;
  color: var(--color-white);
  margin: 10px 0;
}

.valider {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 70%;
  margin-top: 20px;
}

.valide {
  margin-left: 10px;
}

.valider a {
  color: var(--color-1);
}

#pitch {
  resize: none;
  width: 70%;
  height: 150px;
  border: 1px solid var(--color-1);
  border-radius: 5px;
  padding: 1%;
}

/* css checkbox */

/* .multiselect-container>li>a>label {
  padding: 4px 20px 3px 20px;
} */

/* .multiselect {
    width: 200px;
  } */

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 1px solid var(--color-1);
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* #checkboxes,
#checkboxe,
#checkbox,
#checkbo {
  display: none;
  border: 1px var(--color-grey-check) solid;
}

#checkboxes label,
#checkboxe label,
#checkbox label,
#checkbo label {
  display: block;
} */

.is-hidden {
  display: none !important;
}

#checkboxes label:hover,
#checkboxe label:hover,
#checkbox label:hover,
#checkbo label:hover {
  color: var(--color-white);
  background-color: var(--color-1);
}

.langage,
.secteur,
.input-contrat {
  margin: 5px;
}

.signup-main {
  background-image: url(/img/main-signup.jpeg);
  background-size: cover;
  width: 100%;
  height: auto;
  margin: inherit;
  /* height: 100vh; */
  /* position: fixed; */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  main {
    padding: 100px;
  }

  .form .authentification a.linkedin-btn,
  .form .authentification a.google-btn {
    width: 30%;
  }

  .plusieurs-contenus {
    width: 80%;
  }

  .contenu.active {
    /* display: block; */
    padding: 0;
    /* width: 100%; */
  }

  /* .plusieurs-contenus{
        width: 100%;
        padding: 0 0 0 0;
        box-shadow: none;
    } */

  ul.menu {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* box-shadow: none; */
  }

  /* ul.menu li, ul.menu li.active{
        width: 50%;       
        border-radius: 10px;
     margin: 2px;
        border: 1px solid var(--color-1);
        border: none;

    }
    ul.menu li a{
        border-radius: 10px;
   } */

  /* ul.menu li.active {
        border-radius: 10px;
        box-shadow: none;
        
        

       border: 1px solid var(--color-1);
      
        height: 50px;  
        line-height: 30px;  
        background: none;
    } */

  /* ul.menu li.active a{
        color: white;
        background: var(--color-1);
    } */
  /* ul.menu li:last-child{
        background: none;
        box-shadow: none;
        border: solid 1px var(--color-1);
        border-radius: 10px;
    }

    ul.menu li a{
        border: none;
        color: var(--color-1);
    } */
}

a {
  text-decoration: none;
}

@media screen and (min-width: 599px) and (max-width: 768px) {
  .form .authentification {
    width: 100%;
  }

  ul.menu {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* box-shadow: none; */
  }

  .form .authentification a.linkedin-btn,
  .form .authentification a.google-btn {
    width: 30%;
    font-size: 15px;
  }

  .plusieurs-contenus {
    width: 90%;
    /* box-shadow: none; */
  }

  /* ul.menu li, ul.menu li.active{
        width: 50%;
       
        border-radius: 10px;
     margin: 2px;
        border: 1px solid var(--color-1);
        border: none;

    }
    ul.menu li a{
        border-radius: 10px;
   } */

  /* ul.menu li.active {
        border-radius: 10px;
        box-shadow: none;
        
        

       border: 1px solid var(--color-1);
      
        height: 50px;  
        line-height: 30px;  
        background: none;
    }
    ul.menu li.active a{
        color: white;
        background: var(--color-1);
    }
    ul.menu li:last-child{
        background: none;
        box-shadow: none;
        border: solid 1px var(--color-1);
        border-radius: 10px;
    }

    ul.menu li a{
        border: none;
        color: var(--color-1);
    } */
}

@media screen and (min-width: 415px) and (max-width: 600px) {
  .form .authentification a span {
    display: none;
  }

  .form .authentification .google-img {
    width: 30px;
    height: auto;
  }

  .form .authentification a.linkedin-btn,
  .form .authentification a.google-btn {
    width: 20%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 414px) {
  .form .authentification a span {
    display: none;
  }

  .form .authentification .google-img {
    width: 30px;
    height: auto;
  }

  .form .authentification {
    width: 80%;
  }

  ul.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* box-shadow: none; */
  }

  .form .authentification a.linkedin-btn,
  .form .authentification a.google-btn {
    width: 20%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .plusieurs-contenus {
    width: 100%;
    box-shadow: none;
  }

  .input,
  .select,
  .label,
  .check,
  .multiselect {
    width: 80%;
  }

  /* ul.menu li.active a{
        color: white;
        background: var(--color-1);
    }
    ul.menu li:last-child{
        background: none;
        box-shadow: none;
        border: solid 1px var(--color-1);
        border-radius: 10px;
    }

    ul.menu li a{
        border: none;
        color: var(--color-1);
    } */
}
